Options -Indexes
php_flag engine off
<FilesMatch "\.(php|phtml|phar|php5)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Deny from all
  </IfModule>
</FilesMatch>
